.About {
  @include displayFlexCenter(column);
  min-height: 100vh;
  width: 100%;
}

.about-sect {
  margin: 100px 0px;
}

.about-sect img {
  width: 500px;
  height: 600px;
  object-fit: cover;
  border-radius: 3%;
}

.about-sect p {
  width: 40%;
  color: $lightFont;
  font-size: 20px;
}

.about-sect p {
  margin-right: 80px;
}

.about-sect {
  @include displayFlexCenter(row);
}
