.About {
  @include displayFlexCenter(column);
  min-height: 100vh;
  width: 100%;
}

.about-sect-one img,
.about-sect-two img {
  width: 500px;
  height: 600px;
  object-fit: cover;
  border-radius: 3%;
}

.about-sect-one p,
.about-sect-two p {
  width: 50%;
}

.about-sect-one {
  @include displayFlexCenter(row);
}
